.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.formContainer {
  text-align: center;
}

.inputContainer {
  margin-bottom: 10px;
}

.inputField {
  margin-left: 5px;
}
