.contact-container {
  background-image: url(../../images/contactus.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contact-container div {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

span {
  color: white;
  font-size: 36px;
}
